.logo-div{
    width: 130px;
    height: 60px;
       
}
.logo-icon{
    height: 40px;
    width: auto;
}
.topbar-logo-header{
    width: auto;
    align-items: center;
    padding: 0 30px 0 0;
    height: 60px;
    border-right: 1px solid #f0f0f0;
}
.navbar{
    width: 100%;
}
.search-bar {
    width: 100%;
    cursor: pointer;
}
.search-bar a.btn, .search-bar a.btn:focus {
    color: #7b8288;
    cursor: pointer;
    background-color: #f4f4f4;
    border: 0;
    width: 100%;
}
.topbar .navbar .navbar-nav .nav-link {
    color: #212529;
    font-size: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
}
.nav-link.dropdown-toggle::after {
    display: none;
}
.topbar  .dropdown-app .dropdown-menu {
    width: 270px;
    border: 1px solid #dee2e6;
    padding: 0.5rem;
    border-radius: 16px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}
.app-box{
       padding: .5rem;
    border-radius: 1rem;
    transition: .2s;
}
.app-name{
    color: #212529;
    font-size: .64rem;
    text-decoration: none;
    font-weight: 500;
}
.dropdown-large .msg-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
}
.dropdown-large .msg-header .msg-header-title {
    font-size: 16px;
    color: #1c1b1b;
    margin-bottom: 0;
    font-weight: 500;
}
.dropdown-large .msg-header {
    padding: 0.8rem 1rem;
    border-bottom: 1px solid #ededed;
    background-clip: border-box;
    background-color: #ffffff;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.dropdown-large .msg-header-badge {
    background-color: rgb(0 140 255 / 12%);
    color: #008cff;
    padding: 2px 8px;
    margin-bottom: 0;
    border-radius: 4px;
}
.dropdown-large .user-online {
    position: relative;
}
.dropdown-large .dropdown-menu .dropdown-item {
    padding: .50rem 1.3rem;
    border-bottom: 1px solid #ededed;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: var(--bs-dropdown-item-border-radius, 0);
}
.dropdown-large .msg-name {
    font-size: 14px;
    margin-bottom: 0;
}
.dropdown-large .notify {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 22px;
    text-align: center;
    border-radius: 50%;
    background-color: #f1f1f1;
    margin-right: 15px;
}
.header-notifications-list {
    position: relative;
    height: 360px;
    overflow: scroll;
}
.header-message-list {
    position: relative;
    height: 360px;
    overflow: scroll;
}
.ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}
.dropdown-large .cart-product {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 0px;
    border: 1px solid rgb(231 231 231);
    padding: 4px;
    background-color: rgb(255 255 255);
  
}
.dropdown-large .cart-product img {
    width: 100%;
   
}

.dropdown-large .msg-footer {
    padding: 0.8rem 1rem;
    color: #1c1b1b;
    border-top: 1px solid #ededed;
    background-clip: border-box;
    background: transparent;
    font-size: 14px;
    font-weight: 500;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
.user-img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 0 solid #e5e5e5;
    padding: 0;}

.user-info .user-name {
        font-size: 15px;
        font-weight: 500;
        color: #413c3c;
    }
.user-info .designattion {
        font-size: 13px;
        color: #a9a8a8;
    }